* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  :root {
    --Primary-Strong-Cyan: hsl(171, 66%, 44%);
    --Primary-Light-Blue: hsl(233, 100%, 69%);
    --Secondary-Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Secondary-Grayish-Blue: hsl(201, 11%, 66%);
    --light-weight: 400;
    --heavy-weight: 500;
    --transition: 0.3s ease-in-out all;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 400;
  }
  
  p {
    font-weight: 100;
  }
  
  body {
    font-family: "Public Sans", sans-serif;
  }
  
  /**
  *Start of nav section
  */
  
  .nav-container {
    display: flex;
    background: linear-gradient(
      140deg,
      rgba(241, 150, 90, 1) 23%,
      rgba(255, 105, 155, 1) 52%,
      rgba(214, 117, 181, 1) 66%,
      rgba(149, 62, 223, 1) 100%
    );
  }
  
  .links {
    flex-basis: 80%;
    margin-top: 30px;
    margin-left: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #bcb358;
  }
  
  .link {
    text-decoration: none;
    margin: 0px 10px;
    color: black;
    font-size: large;
    transition: var(--transition);
  }
  
  .link:hover {
    color: white;
  }
  
  .menu-icon {
    display: none;
  }
  
  /**
  *End of nav section
  */
  
  /**
  *Start of main section
  */
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 150, 90);
    background: linear-gradient(
      140deg,
      rgba(241, 150, 90, 1) 23%,
      rgba(255, 105, 155, 1) 52%,
      rgba(214, 117, 181, 1) 66%,
      rgba(149, 62, 223, 1) 100%
    );
  }
  
  .first-section {
    width: 800px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    display: flex;
  }
  
  .register-form {
    flex-basis: 40%;
    margin: auto 0px;
  }
  
  .register-form h1 {
    margin-left: 50px;
    margin-bottom: 10px;
  }
  
  #register-text {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .card-design {
    flex-basis: 65%;
  }
  
  input {
    width: 250px;
    height: 40px;
    margin-top: 5px;
    padding-left: 50px;
    background-color: #e9e9e9;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
  }
  
  .email-field,
  .password-field,
  .number-field,
  .name-field {
    position: relative;
    margin: 10px 0px;
  }
  
  .login-icon {
    position: absolute;
    top: 40%;
    left: 5%;
  }
  
  .login-icon i {
    font-size: larger;
  }
  
  .btn {
    width: 250px;
    height: 40px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    background: rgb(241, 150, 90);
    background: linear-gradient(
      90deg,
      rgba(241, 150, 90, 1) 23%,
      rgba(255, 105, 155, 1) 52%,
      rgba(214, 117, 181, 1) 73%,
      rgba(149, 62, 223, 1) 100%
    );
  }
  
  .forget-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  
  .forget-pass a {
    font-size: 12px;
    color: var(--Secondary-Dark-Grayish-Blue);
  }
  
  .card-design {
    position: relative;
    overflow: hidden;
  }
  
  .u-shaped {
    background: rgb(213, 19, 129);
    background: linear-gradient(
      180deg,
      rgba(213, 19, 129, 1) 33%,
      rgba(102, 45, 140, 1) 82%
    );
    border-radius: 10px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    transform: rotate(-40deg);
  }
  
  .card-01 {
    width: 250px;
    height: 400px;
    position: absolute;
    top: -8%;
    left: -8%;
    box-shadow: inset 0 -5px 0px 15px #ffd3ec;
  }
  
  .card-02 {
    width: 110px;
    height: 200px;
    position: absolute;
    top: 60%;
    left: -8%;
  }
  
  .card-03 {
    width: 110px;
    height: 200px;
    position: absolute;
    top: -15%;
    left: 40%;
  }
  
  .card-04 {
    width: 110px;
    height: 180px;
    position: absolute;
    bottom: -15%;
    left: 40%;
    background: linear-gradient(to top, #eecda3, #ef629f);
    transform: rotate(130deg);
  }
  
  /**
  *End of main section
  */
  
  /**
  *Start of footer section
  */
  
  .footer-content {
    color: white;
    height: 400px;
    /* background: url("./images/footer.png"); */
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    background-color: #e9e9e9;
  }
  
  .footer-left {
    width: 300px;
    margin-left: 100px;
    align-self: center;
  }
  
  .footer-right {
    width: 50%;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer-left > p,
  a {
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
  }
  
  .footer-left a img {
    width: 50px;
    height: 50px;
  }
  .footer-left > a {
    padding: 5px;
  }
  
  .footer-right a {
    color: white;
  }
  
  .small-text {
    font-size: 10px;
  }
  
  /**
  *End of footer section
  */
  
  @media screen and (max-width: 830px) {
    .first-section {
      width: 80vw;
    }
  
    .card-design {
      display: none;
    }
  
    .register-form {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  
    .register-form h1 {
      margin-left: 0px;
      margin-bottom: 0px;
    }
  
    /**
    * Start of footer section
    */
  
    .footer-content {
      height: 760px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2rem;
      color: white;
    } /*  */
  
    .footer-left {
      width: 200px;
      margin-top: 300px;
      margin-left: 0px;
    }
  
    /**
    * End of footer section
    */
  }