.footer-short-info * p {
    font-size: 15px;
  }
  .short-info-text {
    margin-top: 20px;
    text-align: center;
  }
  
  .short-info-text h2 {
    color: #e9b947;
    font-family: "Tangerine", "cursive";
    font-size: 70px;
    font-weight: 300;
  }
  
  .short-info-text p {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .footer-short-info {
    max-width: 1100px;
    margin: 0px auto;
  }
  
  .get-touch {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .contact-us,
  .opening-hour {
    width: 33.33%;
  }
  
  .heading h2 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 30px;
    text-align: start;
  }
  
  .footer-content #margin-btm {
    margin-bottom: 20px;
  }
  
  .opening-hour-content {
    display: flex;
    align-items: center;
  }
  
  .opening-hour-content .days h2 {
    font-weight: 400;
    font-size: 20px;
    padding: 2px;
  }
  
  .opening-hour-content p {
    font-weight: 300;
    margin-left: 40px;
  }
  
  .about-banquet {
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
  }
  
  .about-banquet .heading h2 {
    text-align: center;
  }
  
  .links-newsletter {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  
  .copyright-footer {
    height: 120px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .social-icon {
    color: black;
    font-size: xx-large;
  }
  
  .newsletter-form input {
    width: 200px;
    height: 40px;
    text-align: center;
  }
  
  @media screen and (max-width: 800px) {
    .get-touch {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  
    .contact-us,
    .opening-hour {
      width: 50%;
    }
    .links-newsletter {
      flex-direction: column;
      gap: 2rem;
    }
  }
  
  .footer-content-last {
    color: white;
    height: 400px;
    background: url("../Images/Untitled.jpeg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    background-color: #e9e9e9;
  }
  
  .footer-content-last .footer-left {
    width: 300px;
    margin-left: 100px;
    align-self: center;
    text-align: center;
  }
  
  .footer-content-last .footer-right {
    width: 50%;
    text-align: center;
  }
  
  .footer-content-last .footer-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer-content-last .footer-left > p,
  a {
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
  }
  
  .footer-content-last .footer-left a img {
    width: 50px;
    height: 50px;
  }
  .footer-content-last .footer-left > a {
    padding: 5px;
  }
  
  .footer-content-last .footer-right a {
    color: white;
  }
  
  .footer-content-last .small-text {
    font-size: 10px;
  }
  
  /**
  *End of footer section
  */
  
  @media screen and (max-width: 830px) {
    /**
    * Start of footer section
    */
  
    .footer-content-last .footer-content {
      height: 760px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2rem;
      color: white;
    } /*  */
  
    .footer-content-last .footer-left {
      width: 200px;
      margin-top: auto;
      margin-left: 0px;
    }
    .hide-element {
      display: none;
    }
  
    .footer-content-last {
      height: 700px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  
    /**
    * End of footer section
    */
  }