
.contact-page-container {
  margin-top: 70px;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #000000;
}

.left-side-contact-page {
  width: 40%;
}

.contact-page-heading h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left;
}

.contact-page-social-links {
  display: flex;
  gap: 20px;
  font-size: 2.5rem;
  color: #f39c12;
}

.contact-page-social-links svg {
  transition: transform 0.3s ease;
}

.contact-page-social-links svg:hover {
  transform: scale(1.2);
}

.right-side-contact-page {
  width: 55%;
}

.contact-page-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #141313; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.contact-page-form input,
.contact-page-form select,
.contact-page-form textarea {
  font-size: 1rem;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #7f8c8d; 
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
  background-color: #252525;
  color: #ecf0f1; 
}

.contact-page-form input:focus,
.contact-page-form select:focus,
.contact-page-form textarea:focus {
  border-color: #f39c12;
}

.contact-page-form textarea {
  resize: vertical;
}

.contact-page-btn {
  padding: 12px 20px;
  background-color: #f39c12; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-page-btn:hover {
  background-color: #e67e22; 
}

.success-popUp {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: green;
  color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pop-up-message {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.X {
  background: rgb(181, 37, 37);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  top: -10px;
  right: -10px;
}

.success-popUp::before {
  padding: 10px;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-page-container {
    flex-direction: column;
    padding: 20px;
  }

  .left-side-contact-page,
  .right-side-contact-page {
    width: 100%;
  }

  .contact-page-form {
    padding: 20px;
  }

  .contact-page-btn {
    font-size: 1rem;
  }

  .contact-page-social-links {
    font-size: 2rem;
  }
}
